-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: choosology
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advs`
--

DROP TABLE IF EXISTS `advs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(45) NOT NULL,
  `created` datetime NOT NULL,
  `begin` varchar(45) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `pic` varchar(45) DEFAULT NULL,
  `status` varchar(5) NOT NULL DEFAULT '0',
  `description` varchar(275) DEFAULT NULL,
  `rating` varchar(3) DEFAULT 'NA',
  `edited` datetime NOT NULL,
  `published` datetime DEFAULT NULL,
  `avail` varchar(45) NOT NULL DEFAULT 'none',
  `pass` varchar(45) NOT NULL DEFAULT '',
  `font` varchar(45) NOT NULL DEFAULT 'Trebuchet MS',
  `titlefont` varchar(45) NOT NULL DEFAULT 'Arial',
  `bg` varchar(20) NOT NULL DEFAULT '#ffffff',
  `box` varchar(20) NOT NULL DEFAULT '#ccddff',
  `border` varchar(10) DEFAULT '#9999cc',
  `borderwidth` tinyint NOT NULL DEFAULT '2',
  `bgpic` int NOT NULL DEFAULT '0',
  `textcolor` varchar(10) DEFAULT NULL,
  `linkcolor` varchar(10) DEFAULT NULL,
  `titlestyle` varchar(150) NOT NULL DEFAULT 'font-weight:bold;font-style:normal; text-align: center; color:#000000;font-family:&quot;arial&quot;',
  `textstyle` varchar(150) NOT NULL DEFAULT 'font-weight:normal; font-style:normal; text-align: left; color:#000000;font-family:&quot;arial&quot;',
  `linkstyle` varchar(150) NOT NULL DEFAULT 'font-weight:normal; font-style:normal; text-align: center; color:#3333ff;font-family:&quot;arial&quot;',
  `usesimplestyling` tinyint(1) NOT NULL DEFAULT '1',
  `totalwordcount` int NOT NULL,
  `tags` varchar(1024) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user` (`user`),
  KEY `avail` (`avail`),
  KEY `published` (`published`),
  KEY `rating` (`rating`),
  KEY `title` (`title`)
) ENGINE=InnoDB AUTO_INCREMENT=1514 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `advscreens`
--

DROP TABLE IF EXISTS `advscreens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advscreens` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(45) NOT NULL,
  `title` varchar(45) DEFAULT NULL,
  `name` varchar(60) NOT NULL,
  `text` text,
  `screenbgcolor` varchar(10) NOT NULL,
  `screenboxcolor` varchar(10) NOT NULL,
  `screenbordercolor` varchar(10) NOT NULL,
  `screenborderwidth` tinyint DEFAULT NULL,
  `use_defaults` tinyint(1) NOT NULL DEFAULT '1',
  `pic` varchar(45) DEFAULT NULL,
  `picalign` varchar(15) NOT NULL DEFAULT 'clear:center',
  `picborder` varchar(20) NOT NULL DEFAULT '2px solid black',
  `created` datetime NOT NULL,
  `edited` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `bit` varchar(10) DEFAULT '0',
  `choice1` text,
  `choice2` text,
  `choice3` text,
  `choice4` text,
  `choice5` text,
  `choice6` text,
  `choice7` text,
  `choice8` text,
  `advused` varchar(255) NOT NULL,
  `xpos` int NOT NULL DEFAULT '0',
  `ypos` int NOT NULL DEFAULT '0',
  `deleted` tinyint(1) NOT NULL DEFAULT '0',
  `wordcount` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `advused` (`advused`)
) ENGINE=InnoDB AUTO_INCREMENT=16565 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comments` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `author` varchar(100) NOT NULL,
  `date` datetime NOT NULL,
  `text` varchar(500) NOT NULL,
  `whichboard` varchar(45) NOT NULL,
  `reviewed` tinyint unsigned NOT NULL DEFAULT '0',
  `whichscreen` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=549 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `to_user` varchar(45) NOT NULL,
  `from_user` varchar(45) NOT NULL,
  `sent_date` datetime NOT NULL,
  `body` text NOT NULL,
  `seen` tinyint(1) NOT NULL DEFAULT '0',
  `message_type` varchar(45) NOT NULL,
  `title` varchar(55) NOT NULL,
  `to_deleted` tinyint(1) NOT NULL DEFAULT '0',
  `from_deleted` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=270 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `headline` varchar(255) NOT NULL,
  `text` text NOT NULL,
  `by` varchar(45) NOT NULL,
  `whenposted` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `oven`
--

DROP TABLE IF EXISTS `oven`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `oven` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(45) NOT NULL,
  `code1` varchar(45) NOT NULL,
  `code2` varchar(45) NOT NULL,
  `assigned` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1482 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `paths`
--

DROP TABLE IF EXISTS `paths`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paths` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user` varchar(255) NOT NULL,
  `adv` int NOT NULL,
  `path` blob NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `save` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `adv` (`adv`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3 COMMENT='save user paths through adventures for badges or "saved game';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pics`
--

DROP TABLE IF EXISTS `pics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pics` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `filename` varchar(75) NOT NULL,
  `imagename` varchar(75) NOT NULL,
  `cat` varchar(75) DEFAULT NULL,
  `size` varchar(15) NOT NULL DEFAULT 'static',
  `uploaded` datetime NOT NULL,
  `user` varchar(75) NOT NULL,
  `type` varchar(45) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1976 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ratings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `adv` int unsigned NOT NULL,
  `owner` varchar(100) NOT NULL,
  `who` varchar(45) NOT NULL,
  `rating` tinyint unsigned NOT NULL,
  `screen` int unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=396 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `updates`
--

DROP TABLE IF EXISTS `updates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `updates` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `text` varchar(225) DEFAULT NULL,
  `whenposted` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(45) NOT NULL,
  `pass` varchar(45) NOT NULL,
  `chpass` varchar(45) DEFAULT NULL,
  `email` varchar(45) NOT NULL,
  `authent` varchar(45) NOT NULL,
  `view_restricted` tinyint(1) NOT NULL DEFAULT '0',
  `lastlogin` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00' ON UPDATE CURRENT_TIMESTAMP,
  `usertype` tinyint NOT NULL DEFAULT '0',
  `hint` text,
  `joined` datetime NOT NULL,
  `about` text,
  `pic` int DEFAULT '0',
  `fbshow` tinyint unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1128 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11 22:08:26
